.form-check{
    margin: .5rem;
}
.form-check-input:focus{
    box-shadow: none;
    border: none;
}
.alert{
    position: absolute;
}
.form-control{
    border: none;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
    border: .5px solid rgb(253, 253, 253);

}
.collapse p:nth-child(2){
font-weight: bold;
}
.form-check-label{
    font-style: italic;
}
@media (max-width:990px) {
    .nav-item .nav-link{
        margin-left: 1rem;
        font-size: 1.6rem;
    }
}